/* layout.css */
body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-texto-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: auto;
}

.login-container {
    display: flex;
    width: 900px;
    min-height: 600px;
    height: auto;
    background-color: var(--cor-container);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.login-image {
    flex: 1;
    background-color: var(--cor-primaria); 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px;
}

.login-form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    text-align: center;
    margin-top: auto;
    padding-top: 20px;
    font-size: 12px;
    color: var(--cor-texto-secundario);
}

.footer p {
    margin-bottom: 5px;
    font-size: 12px;
    color: var(--cor-texto-secundario);
}

.footer a {
    color: var(--cor-texto-secundario);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
