/* main.css */
@import url('reset.css');
@import url('variaveis.css');
@import url('layout.css');
@import url('componentes/login.css');
@import url('componentes/animacoes.css');
@import url('componentes/mensagens.css');
@import url('componentes/register.css');
